<header class="main-nav">
	<nav class="left-nav">
		<ul>
      <li data-controller="sections-sidebar">
        <div id="sections-sidebar-btn" data-action="click->sections-sidebar#toggleSidebar">
          <i class="fa-solid fa-bars" style="margin-right: 7px"></i>
          <span>sections</span>
        </div>
      </li>
			<li data-controller="modal">
        <div id="search-modal-btn" data-action="click->modal#toggleModal">
          <i class="fa-solid fa-magnifying-glass" style="margin-right: 7px"></i>
          <span>search</span>
        </div>
			</li>
		</ul>
	</nav>
  <nav class="right-nav">
    <ul>
      <button type="submit">Subscribe Now</button>
      <button type="submit" style="margin-left: 7px">Log In</button>
      <i class="fa-solid fa-gear" style="margin-left: 7px"></i>
    </ul>
  </nav>
</header>
<br>
  <hr>

