<div class="masthead"> 
    <nav class="language-nav">
        <ul>
            <li>
                <a href="www.google.com">CSS</a> 
            </li>
    
            <li>
                <a href="www.google.coma">HTML</a>
            </li>
            <li>
                
                <a href="www.google.com">Javascript</a>
            </li>
            <li>
                <a href="www.google.com">Ruby</a>
            </li>
        </ul>
    </nav>
    <h1 style="logo">
        <%= image_tag "AA_Times_Logo.png" %>
    </h1>
</div>



Tuesday, October 18, 2016
Today’s Paper
Video
77°F
AAO +100%