/* Define application-wide selectors here!*/
@use '../variables' as *;

html {
	position: relative;
	height: 100%;
}

body {
	// ...
	width: 80%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
}

// button-color: 68 105 139
button {
	background-color: rgb(68, 105, 139);
	border-color: rgb(31, 52, 71);
	color: rgb(242, 247, 248);
	// font-weight:
	// padding:
	border-radius: 3px;
	// transition:
	font-family: arial;
	// text-transform:
	// font-size:
	// text-align:
}

button:hover {
	// background-color:
	// border-color:
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}
